<?xml version="1.0" encoding="UTF-8" ?>    
<!DOCTYPE mapper    
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.design.cms.dao.persist.CountryMapper">
	<resultMap id="BaseResultMap" type="Country">
		<id column="ID" property="id" jdbcType="BIGINT" />
		<result column="CountryName" property="countryName" jdbcType="VARCHAR" />
		<result column="OrderBy" property="order" jdbcType="INTEGER" />
	</resultMap>
	
	<select id = "getCountrys"  resultMap="BaseResultMap">
		SELECT ID,CountryName,OrderBy from dn_country order by OrderBy
	</select>
</mapper> 