<?xml version="1.0" encoding="UTF-8" ?>    
<!DOCTYPE mapper    
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.design.cms.dao.persist.UserMapper">
	<resultMap id="BaseResultMap" type="User">
		<id column="ID" property="id" jdbcType="BIGINT" />
		<result column="LevelID" property="levelId" jdbcType="VARCHAR" />
		<result column="PlatformID" property="platformId" jdbcType="VARCHAR" />
		<result column="PlatformType" property="platformType" jdbcType="VARCHAR" />
		<result column="UserName" property="userName" jdbcType="VARCHAR" />
		<result column="UserPwd" property="passwd" jdbcType="VARCHAR" />
		<result column="RealName" property="realName" jdbcType="VARCHAR" />
		<result column="NickName" property="nickName" jdbcType="VARCHAR" />
		<result column="Gender" property="gender" jdbcType="INTEGER" />
		<result column="Age" property="age" jdbcType="INTEGER" />
		<result column="mobileNo" property="mobileNo" jdbcType="VARCHAR" />
		<result column="userNo" property="userNo" jdbcType="VARCHAR" />
		<result column="Email" property="email" jdbcType="VARCHAR" />
		<result column="BirthDay" property="birthDay" jdbcType="DATE" />
		<result column="Photo" property="photo" jdbcType="BIGINT" />
		<result column="MistakeNum" property="mistakeNum" jdbcType="INTEGER" />
		<result column="LoginTime" property="loginTime" jdbcType="TIMESTAMP" />
		<result column="DeviceToken" property="deviceToken" jdbcType="VARCHAR" />
		<result column="IsEnable" property="isEnable" jdbcType="INTEGER" />
		<result column="Remark" property="remark" jdbcType="VARCHAR" />
		<result column="CreateTime" property="createTime" jdbcType="TIMESTAMP" />
		<result column="UpdateBy" property="updateBy" jdbcType="VARCHAR" />
		<result column="UpdateTime" property="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>
	
	<sql id="BaseColumn">
		ID,LevelID,PlatformID,PlatformType,UserName,UserPwd,RealName,NickName,Gender,Age,mobileNo,userNo,Email,BirthDay,
		Photo,MistakeNum,LoginTime,DeviceToken,IsEnable,Remark,CreateTime,UpdateBy,UpdateTime
	</sql>
	
	<select id="getUserByCondition" parameterType="map" resultMap="BaseResultMap">
		SELECT <include refid="BaseColumn"></include> from dn_user
		<where>
			<if test="email!=null">
				and Email = #{email,jdbcType=VARCHAR}
			</if>
			<if test="mobileNo!=null">
				and mobileNo = #{mobileNo,jdbcType=VARCHAR}
			</if>
			<if test="passwd!=null">
				and UserPwd = #{passwd,jdbcType=VARCHAR}
			</if>
			<if test="platformId!=null">
				and PlatformID = #{platformId,jdbcType=VARCHAR}
			</if>
			<if test="platformType!=null">
				and PlatformType = #{platformType,jdbcType=VARCHAR}
			</if>
			<if test="isEnable!=null">
				and isEnable = #{isEnable,jdbcType=VARCHAR}
			</if>
			<if test="userNo!=null">
				and userNo = #{userNo,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	
	<select id="getTokensByCondition" parameterType="map" resultType="string">
		SELECT DeviceToken FROM dn_user WHERE DeviceToken IS NOT NULL 
	</select>
	
	<select id="getCouponNotAllocateUsers" resultMap="BaseResultMap" parameterType="map">
		SELECT a.ID,a.PlatformID,a.PlatformType,a.NickName,a.Gender,a.Age,a.mobileNo,a.userNo,a.Email,a.Photo,a.CreateTime FROM dn_user a 
		WHERE NOT EXISTS(SELECT ID FROM dn_user_coupon b WHERE a.userNo = b.userNo AND b.CouponNo = #{couponNo,jdbcType=VARCHAR})
	</select>
	
	<select id="getAllUserDeviceTokens" resultType="string">
		SELECT DeviceToken FROM dn_user WHERE DeviceToken IS NOT NULL
	</select>

	<resultMap id="UserInfoMap" type="UserInfo" extends="BaseResultMap">
	
	</resultMap>
	
	<select id="getCount" parameterType="map" resultType="int">
		SELECT count(0) from dn_user 
		<where>
			Gender != -1
			<if test="userNo!=null and userNo!=''">
				and userNo = #{userNo,jdbcType=VARCHAR}
			</if>
			<if test="nickName!=null and nickName!=''">
				and NickName like CONCAT('%',#{nickName,jdbcType=VARCHAR},'%')
			</if>
		</where>
	</select>
	
	<select id="getList" parameterType="map" resultMap="UserInfoMap">
		SELECT <include refid="BaseColumn"></include> from dn_user 
		<where>
			Gender != -1
			<if test="userNo!=null and userNo!=''">
				and userNo = #{userNo,jdbcType=VARCHAR}
			</if>
			<if test="nickName!=null and nickName!=''">
				and NickName like CONCAT('%',#{nickName,jdbcType=VARCHAR},'%')
			</if>
		</where>
		order by CreateTime desc
		limit #{begin,jdbcType=INTEGER},#{end,jdbcType=INTEGER}
	</select>
	
	<select id="getUserByUserNo" parameterType="string" resultMap="UserInfoMap">
		SELECT <include refid="BaseColumn"></include> from dn_user where userNo = #{userNo,jdbcType=VARCHAR}
	</select>
</mapper> 